In [210]:
import pandas as pd

df = pd.read_excel("assets/NFG/A0701_SEL05_TS_QQ_01_1999_01_2025_01E_F_BI.xlsx")

In [211]:
# find all sheets in the file and open them in different dataframes
sheet_names = pd.ExcelFile("assets/NFG/A0701_SEL05_TS_QQ_01_1999_01_2025_01E_F_BI.xlsx").sheet_names
dfs = {sheet: pd.read_excel("assets/NFG/A0701_SEL05_TS_QQ_01_1999_01_2025_01E_F_BI.xlsx", sheet_name=sheet) for sheet in sheet_names}

#rename sheets to sheet1 and so on
dfs_renamed = {f"sheet{i+1}": df for i, (sheet, df) in enumerate(dfs.items())}

df1 = dfs_renamed["sheet1"]
df2 = dfs_renamed["sheet2"]

In [212]:
# in df1 remove first 2 rows
# rename first cell to "Date"
# make first row the header
df1 = df1.iloc[2:]
df1.columns = df1.iloc[0]
df1 = df1[1:]
df1.rename(columns={df1.columns[0]: "Date"}, inplace=True)
#remove first row
df1 = df1.iloc[1:]
# in column Date remove all *
df1["Date"] = df1["Date"].str.replace("*", "", regex=False)
# in column Date keep only the rows with format YYYY-QX
df1 = df1[df1["Date"].str.match(r"^\d{4}-Q[1-4]$")]
# RESET index
df1.reset_index(drop=True, inplace=True)

df1.columns = df1.columns.str.strip()
# print unique values in column "D995"
#print columns
print(df1.columns)
# in row index 0 insert new row with all values as "_Z"
df1.loc[-1] = ["_Z"] * len(df1.columns)  # adding a row
df1.index = df1.index + 1  # shifting index
df1 = df1.sort_index()  # sorting by index
#cell [0,0] to "INSTR_ASSET"
df1.iloc[0, 0] = "INSTR_ASSET"

#in row index 0 insert new row with all values as header by copy them
columns = df1.columns.tolist()
df1.loc[-1] = columns  # adding a row with column names
df1.index = df1.index + 1  # shifting index
df1 = df1.sort_index()  # sorting by index
df1.iloc[0, 0] = "NA_ITEM"

#same task for df2
df2 = df2.iloc[1:]
# in ALL first row split by "\n" and take the first part
df2.columns = df2.iloc[0].str.split("\n").str[0]
#remove first row
df2 = df2[1:]
#remove row index 2
df2 = df2.drop(df2.index[1])
# edit cell[0,0] to INSTR_ASSET
df2.iloc[0, 0] = "INSTR_ASSET"

df2.loc[-1] = ["_Z"] * len(df2.columns)  # adding a row
df2.index = df2.index + 1  # shifting index
df2 = df2.sort_index()  # sorting by index
#cell [0,0] to "INSTR_ASSET"
df2.iloc[0, 0] = "NA_ITEM"

#strip all column names in df2
df2.columns = df2.columns.str.strip()

#rename columb Quarter to Date

#rename column "Quarter" to "Date"
df2.rename(columns={"Quarter": "Date"}, inplace=True)

df2["Date"] = df2["Date"].str.replace("*", "", regex=False)
# in column Date keep only the rows with format YYYY-QX after row 2
# Regex pattern for YYYY-QX format
pattern = r'^\d{4}-Q[1-4]$'
print(df2.columns)

# Keep first two rows unchanged, then filter the rest
df2 = pd.concat([
    df2.iloc[:2],  # Keep the first two rows
    df2.iloc[2:][df2.iloc[2:]['Date'].str.match(pattern, na=False)]  # Filter from row 2 onward
]).reset_index(drop=True)

# RESET index
df2.reset_index(drop=True, inplace=True)

Index(['Date', 'P1O', 'P2', 'P51C', 'D1', 'D29', 'D39R', 'D2', 'D21', 'D211',
       'D29', 'D4', 'D41', 'D4N', 'D3P', 'D31P', 'D39P', 'D4', 'D41', 'D4N',
       'D5', 'D61', 'D611', 'D613', 'D7', 'D5', 'D62', 'D632', 'D6M', 'D7',
       'P3', 'P31', 'P32', 'D8', 'B8G', 'D9', 'D91', 'D9N', 'D9', 'D92', 'P5',
       'P51G', 'P5M', 'NP', 'P5L', 'B9', 'OTE', 'OTR', 'P1', 'B1G', 'D51',
       'D59', 'D995'],
      dtype='object', name=2)
Index(['Date', 'GD Total Maastricht debt', 'AF.2 Currency and deposits',
       'AF.21 Currency', 'AF.22 + AF.29 Deposits', 'AF.3 Debt decurities',
       'AF.31 Short-term debt securities', 'AF.32 Long-term debt securities',
       'AF.4 Loans', 'AF.41 Short-term loans', 'AF.42 Long-term loans'],
      dtype='object', name=1)

In [213]:
df2

1,Date,GD Total Maastricht debt,AF.2 Currency and deposits,AF.21 Currency,AF.22 + AF.29 Deposits,AF.3 Debt decurities,AF.31 Short-term debt securities,AF.32 Long-term debt securities,AF.4 Loans,AF.41 Short-term loans,AF.42 Long-term loans
0,NA_ITEM,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z
1,INSTR_ASSET,GD,F2,F21,F2M,F3,F3,F3,F4,F4,F4
2,2000-Q1,139528,559,157,402,102708,3644,99064,36261,1244,35017
3,2000-Q2,145575,518,160,358,107480,2599,104881,37577,1933,35644
4,2000-Q3,148090,508,164,344,108865,2222,106643,38717,2379,36338
...,...,...,...,...,...,...,...,...,...,...,...
98,2024-Q1,368369,7002,0,7002,94932,10740,84192,266435,765,265670
99,2024-Q2,369412,7058,0,7058,95232,9309,85923,267122,861,266261
100,2024-Q3,370824,7334,0,7334,94610,8217,86393,268880,793,268087
101,2024-Q4,364885,7513,0,7513,94846,7919,86927,262526,1789,260737
102,2025-Q1,366329,7345,0,7345,98212,7763,90449,260772,1451,259321

In [214]:
#merge df1 and df2 on column "Date"
merged_df = pd.merge(df1, df2, on="Date", suffixes=('_df1', '_df2'))
# add row index 0 with all values as "_Z"
merged_df.loc[-1] = ["_Z"] * len(merged_df.columns)
merged_df.index = merged_df.index + 1  # shifting index
merged_df = merged_df.sort_index()  # sorting by index
#cell [0,0] to "MATURITY"
merged_df.iloc[0, 0] = "MATURITY"
# at column "AF.31 Short-term debt securities" change first row value to "S"
merged_df.iloc[0, merged_df.columns.get_loc("AF.31 Short-term debt securities")] = "S"
# at column "AF.32 Long-term debt securities" change first row value to "L"
merged_df.iloc[0, merged_df.columns.get_loc("AF.32 Long-term debt securities")] = "L"
# at column "AF.41 Short-term loans" change first row value to "S"
merged_df.iloc[0, merged_df.columns.get_loc("AF.41 Short-term loans")] = "S"
# at column "AF.42 Long-term loans" change first row value to "L"
merged_df.iloc[0, merged_df.columns.get_loc("AF.42 Long-term loans")] = "L"

# add column at index 1 with all values as "Q" name it FREQ
merged_df.insert(1, "FREQ", "Q")

In [215]:
merged_df

,Date,FREQ,P1O,P2,P51C,D1,D29,D39R,D2,D21,...,GD Total Maastricht debt,AF.2 Currency and deposits,AF.21 Currency,AF.22 + AF.29 Deposits,AF.3 Debt decurities,AF.31 Short-term debt securities,AF.32 Long-term debt securities,AF.4 Loans,AF.41 Short-term loans,AF.42 Long-term loans
0,MATURITY,Q,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z,...,_Z,_Z,_Z,_Z,_Z,S,L,_Z,S,L
1,NA_ITEM,Q,P1O,P2,P51C,D1,D29,D39R,D2,D21,...,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z
2,INSTR_ASSET,Q,_Z,_Z,_Z,_Z,_Z,_Z,_Z,_Z,...,GD,F2,F21,F2M,F3,F3,F3,F4,F4,F4
3,2000-Q1,Q,795,1359,981,3191,3,0,4675,4399,...,139528,559,157,402,102708,3644,99064,36261,1244,35017
4,2000-Q2,Q,945,1811,1004,3724,3,0,4581,4280,...,145575,518,160,358,107480,2599,104881,37577,1933,35644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2024-Q1,Q,1563,1911,1879,5965,9,0,7742,6827,...,368369,7002,0,7002,94932,10740,84192,266435,765,265670
100,2024-Q2,Q,1701,2843,1881,6116,11,0,10724,8408,...,369412,7058,0,7058,95232,9309,85923,267122,861,266261
101,2024-Q3,Q,1756,2756,1881,6112,16,0,10794,9359,...,370824,7334,0,7334,94610,8217,86393,268880,793,268087
102,2024-Q4,Q,2285,4761,1884,6329,23,0,10772,9011,...,364885,7513,0,7513,94846,7919,86927,262526,1789,260737
103,2025-Q1,Q,1631,2229,1881,6014,17,0,9369,7557,...,366329,7345,0,7345,98212,7763,90449,260772,1451,259321